[Desktop Entry]
Type=Application
Exec=gnome-terminal
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=AutoLaunch Cozmo
Name=AutoLaunch Cozmo
Comment[en_US]=Cozmo launching
Comment=Cozmo launching
